<section class="about-service">
    <div class="container">
        <div class="about-service__content">
            <div class="inner-container">
                <div class="about-service__row">
                    <h2 class="about-service__heading">
                        Об услуге
                    </h2>
                    <div class="about-service__info">
                        <div class="about-service__text">
                            <p>
                                Одно из ключевых условий для получения членства СРО – наличие нескольких специалистов НРС, соответствующих большому количеству требований.
                            </p>
                            <p>
                                Мы готовы внести ваших специалистов в НРС или трудоустроить нужных вам специалистов для упрощения процедуры получения доступа СРО.
                            </p>
                        </div>
                        <a href="#" class="about-service__link">
                            Подробнее о требованиях
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
