<section class="about-company">
    <div class="container">
        <div class="about-company__content">
            <div class="inner-container">
                <div class="about-company__row">
                    <div class="about-company__left-col">
                        <h2 class="about-company__heading">
                            Про компанию
                        </h2>
                        <p class="about-company__founded-text">
                            Основан в 2006 году
                        </p>
                    </div>
                    <div class="about-company__right-col">
                        <div class="about-company__intro-text">
                            <p>
                                Мы более 12 лет оказываем юридические услуги в области корпоративного права и разрешительной документации. Наши клиенты — компании и частные лица по всей России.
                            </p>
                        </div>
                        <ul class="about-company__features-list">
                            <li class="about-company__features-list-item">
                                <div class="about-company__features-card">
                                    Привлекаем квалифицированных юристов, аналитиков и финансистов. Экономим ваши время и деньги — берем все заботы на себя, сохраняя конфиденциальность.
                                </div>
                            </li>
                            <li class="about-company__features-list-item">
                                <div class="about-company__features-card">
                                    В нашей команде только профессионалы со стажем от трех лет, постоянно принимающие участия в тематических семинарах и повышающие свою квалификацию

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
