<section class="about-service">
    <div class="container">
        <div class="about-service__content">
            <div class="inner-container">
                <div class="about-service__row">
                    <h2 class="about-service__heading">
                        Об услуге
                    </h2>
                    <div class="about-service__info">
                        <div class="about-service__text">
                            <p>
                                Одно из ключевых условий для получения членства СРО – наличие нескольких специалистов НРС, соответствующих большому количеству требований.
                            </p>
                            <p>
                                Мы готовы внести ваших специалистов в НРС или трудоустроить нужных вам специалистов для упрощения процедуры получения доступа СРО.
                            </p>
                        </div>
                        <a href="#" class="about-service__link js-show-more">
                            Подробнее о требованиях
                        </a>
                        <div class="about-service__link-details js-show-more-content">
                            <h4 class="about-service__link-details-heading">
                                Требования к специалистам для внесения в НРС:
                            </h4>
                            <ul class="about-service__link-details-list">
                                <li class="about-service__link-details-list-item">
                                    Профильное высшее образование
                                </li>
                                <li class="about-service__link-details-list-item">
                                    Общий стаж от 10 лет
                                </li>
                                <li class="about-service__link-details-list-item">
                                    Опыт работы в должности ИТР от трех лет
                                </li>
                                <li class="about-service__link-details-list-item">
                                    Наличие удостоверения о повышении квалификации
                                </li>
                                <li class="about-service__link-details-list-item">
                                    Аттестация Ростехнадзора и 5 лет стажа встроительной отрасли, на объектах повышенной опасности
                                </li>
                                <li class="about-service__link-details-list-item">
                                    Отсутствие судимости
                                </li>
                                <li class="about-service__link-details-list-item">
                                    Официальное трудоустройство по основному месту работу
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
