<section class="advantages">
   
    <div class="container">
        <div class="advantages__content">
            <div class="inner-container">
                <h2 class="advantages__heading">
                    Преимущества
                </h2>
                <ul class="advantages__list">
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-tag">
                                Опыт
                            </div>
                            <div class="advantages__card-image-container">
                                <img src="img/advantages/icon-1.png" alt="" class="advantages__card-image" />
                            </div>
                            <h5 class="advantages__card-title">
                                12 лет, опытная команда и 5000 довольных клиентов по всей России
                            </h5>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-tag">
                                Скорость
                            </div>
                            <div class="advantages__card-image-container">
                                <img src="img/advantages/icon-2.png" alt="" class="advantages__card-image" />
                            </div>
                            <h5 class="advantages__card-title">
                                Только один визит в офис, остальное сделаем сами за 1 день
                            </h5>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-tag">
                                Надежность
                            </div>
                            <div class="advantages__card-image-container">
                                <img src="img/advantages/icon-3.png" alt="" class="advantages__card-image" />
                            </div>
                            <h5 class="advantages__card-title">
                                Персональный менеджер, уведомления об изменениях в законодательстве
                            </h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
