<section class="description">
    <div class="container">
        <div class="description__content">
            <div class="inner-container">
                <h2 class="description__heading">
                    Описание
                </h2>
                <ul class="description__items">
                    <li class="description__item">
                        <div class="description__card">
                            <h3 class="description__card-title">
                                Кому
                            </h3>
                            <ul class="description__card-list">
                                <li class="description__card-list-item">
                                    Юрлицам и ИП
                                </li>
                                <li class="description__card-list-item">
                                    Генподрядчикам и субподрядчикам
                                </li>
                                <li class="description__card-list-item">
                                    Техническим заказчикам
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="description__item">
                        <div class="description__card">
                            <h3 class="description__card-title">
                                Для чего
                            </h3>
                            <ul class="description__card-list">
                                <li class="description__card-list-item">
                                    Для выполнения заказов от 3 млн ₽
                                </li>
                                <li class="description__card-list-item">
                                    Для участия в тендерах и торгах
                                </li>
                                <li class="description__card-list-item">
                                    Для заключения госконтрактов
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="description__item">
                        <div class="description__card">
                            <h3 class="description__card-title">
                                На какие виды работ
                            </h3>
                            <ul class="description__card-list">
                                <li class="description__card-list-item">
                                    Дает доступ ко всем строительным работам
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
