<section class="faq">
    <div class="container">
        <div class="faq__content">
            <div class="inner-container">
                <div class="faq__row">
                    <div class="faq__left-col">
                        <h2 class="faq__heading">
                            Вопросы и ответы
                        </h2>
                    </div>
                    <div class="faq__right-col">
                        <div class="faq__accordeons">
                            <div class="faq__accordeon js-accordion">
                                <button class="faq__accordeon-btn js-accordion-btn">
                                    <span class="faq__accordeon-btn-content">
                                        О компании

                                        <svg width="26" height="26" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </span>
                                </button>
                                <div class="faq__accordeon-content js-accordion-content">
                                    <div class="faq__accordeon-content-inner">
                                        <ul class="faq__accordeon-content-list">
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Возможна ли рассрочка?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Согласно положениям ФЗ №372 от 01.07.2017 рассрочка исключена, оплата должна поступить сразу и с расчетного счета компании, вступающей в СРО.
                                                        </p>
                                                        <p>
                                                            Если Вам предлагают рассрочку от какой-либо саморегулируемой организации, то будьте уверены, что это незаконно, в связи с этим данное партнерство может лишиться своего статуса, и все
                                                            выданные допуски потеряют свою силу.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Можно ли купить допуск СРО строителей?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Купить допуск нельзя. С юридической точки зрения, такое действие является незаконным и наказывается в соответствии с УК РФ.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Будет ли заключен договор с саморегулируемой организацией при вступлении?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            По законодательству заключение договора и акта не предусматривается (статья 55.8 Градостроительного Кодекса РФ).
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Обязательно ли у вступающей фирмы должны быть соответствующие ОКВЭД?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Не обязательно. Их можно вносить параллельно, либо после вступления в СРО.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__accordeon js-accordion">
                                <button class="faq__accordeon-btn js-accordion-btn">
                                    <span class="faq__accordeon-btn-content">
                                        СРО для строителей

                                        <svg width="26" height="26" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </span>
                                </button>
                                <div class="faq__accordeon-content js-accordion-content">
                                    <div class="faq__accordeon-content-inner">
                                        <ul class="faq__accordeon-content-list">
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Возможна ли рассрочка?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Согласно положениям ФЗ №372 от 01.07.2017 рассрочка исключена, оплата должна поступить сразу и с расчетного счета компании, вступающей в СРО.
                                                        </p>
                                                        <p>
                                                            Если Вам предлагают рассрочку от какой-либо саморегулируемой организации, то будьте уверены, что это незаконно, в связи с этим данное партнерство может лишиться своего статуса, и все
                                                            выданные допуски потеряют свою силу.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Можно ли купить допуск СРО строителей?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Купить допуск нельзя. С юридической точки зрения, такое действие является незаконным и наказывается в соответствии с УК РФ.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Будет ли заключен договор с саморегулируемой организацией при вступлении?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            По законодательству заключение договора и акта не предусматривается (статья 55.8 Градостроительного Кодекса РФ).
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Обязательно ли у вступающей фирмы должны быть соответствующие ОКВЭД?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Не обязательно. Их можно вносить параллельно, либо после вступления в СРО.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__accordeon js-accordion">
                                <button class="faq__accordeon-btn js-accordion-btn">
                                    <span class="faq__accordeon-btn-content">
                                        СРО для проектировщиков

                                        <svg width="26" height="26" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </span>
                                </button>
                                <div class="faq__accordeon-content js-accordion-content">
                                    <div class="faq__accordeon-content-inner">
                                        <ul class="faq__accordeon-content-list">
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Возможна ли рассрочка?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Согласно положениям ФЗ №372 от 01.07.2017 рассрочка исключена, оплата должна поступить сразу и с расчетного счета компании, вступающей в СРО.
                                                        </p>
                                                        <p>
                                                            Если Вам предлагают рассрочку от какой-либо саморегулируемой организации, то будьте уверены, что это незаконно, в связи с этим данное партнерство может лишиться своего статуса, и все
                                                            выданные допуски потеряют свою силу.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Можно ли купить допуск СРО строителей?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Купить допуск нельзя. С юридической точки зрения, такое действие является незаконным и наказывается в соответствии с УК РФ.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Будет ли заключен договор с саморегулируемой организацией при вступлении?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            По законодательству заключение договора и акта не предусматривается (статья 55.8 Градостроительного Кодекса РФ).
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Обязательно ли у вступающей фирмы должны быть соответствующие ОКВЭД?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Не обязательно. Их можно вносить параллельно, либо после вступления в СРО.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__accordeon js-accordion">
                                <button class="faq__accordeon-btn js-accordion-btn">
                                    <span class="faq__accordeon-btn-content">
                                        СРО для изыскателей

                                        <svg width="26" height="26" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </span>
                                </button>
                                <div class="faq__accordeon-content js-accordion-content">
                                    <div class="faq__accordeon-content-inner">
                                        <ul class="faq__accordeon-content-list">
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Возможна ли рассрочка?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Согласно положениям ФЗ №372 от 01.07.2017 рассрочка исключена, оплата должна поступить сразу и с расчетного счета компании, вступающей в СРО.
                                                        </p>
                                                        <p>
                                                            Если Вам предлагают рассрочку от какой-либо саморегулируемой организации, то будьте уверены, что это незаконно, в связи с этим данное партнерство может лишиться своего статуса, и все
                                                            выданные допуски потеряют свою силу.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Можно ли купить допуск СРО строителей?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Купить допуск нельзя. С юридической точки зрения, такое действие является незаконным и наказывается в соответствии с УК РФ.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Будет ли заключен договор с саморегулируемой организацией при вступлении?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            По законодательству заключение договора и акта не предусматривается (статья 55.8 Градостроительного Кодекса РФ).
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Обязательно ли у вступающей фирмы должны быть соответствующие ОКВЭД?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Не обязательно. Их можно вносить параллельно, либо после вступления в СРО.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__accordeon js-accordion">
                                <button class="faq__accordeon-btn js-accordion-btn">
                                    <span class="faq__accordeon-btn-content">
                                        Специалисты для НРС и вступления в СРО

                                        <svg width="26" height="26" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </span>
                                </button>
                                <div class="faq__accordeon-content js-accordion-content">
                                    <div class="faq__accordeon-content-inner">
                                        <ul class="faq__accordeon-content-list">
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Возможна ли рассрочка?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Согласно положениям ФЗ №372 от 01.07.2017 рассрочка исключена, оплата должна поступить сразу и с расчетного счета компании, вступающей в СРО.
                                                        </p>
                                                        <p>
                                                            Если Вам предлагают рассрочку от какой-либо саморегулируемой организации, то будьте уверены, что это незаконно, в связи с этим данное партнерство может лишиться своего статуса, и все
                                                            выданные допуски потеряют свою силу.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Можно ли купить допуск СРО строителей?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Купить допуск нельзя. С юридической точки зрения, такое действие является незаконным и наказывается в соответствии с УК РФ.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Будет ли заключен договор с саморегулируемой организацией при вступлении?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            По законодательству заключение договора и акта не предусматривается (статья 55.8 Градостроительного Кодекса РФ).
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Обязательно ли у вступающей фирмы должны быть соответствующие ОКВЭД?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Не обязательно. Их можно вносить параллельно, либо после вступления в СРО.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__accordeon js-accordion">
                                <button class="faq__accordeon-btn js-accordion-btn">
                                    <span class="faq__accordeon-btn-content">
                                        Другие вопросы

                                        <svg width="26" height="26" aria-hidden="true" class="icon-plus">
                                            <use xlink:href="#plus" />
                                        </svg>
                                    </span>
                                </button>
                                <div class="faq__accordeon-content js-accordion-content">
                                    <div class="faq__accordeon-content-inner">
                                        <ul class="faq__accordeon-content-list">
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Возможна ли рассрочка?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Согласно положениям ФЗ №372 от 01.07.2017 рассрочка исключена, оплата должна поступить сразу и с расчетного счета компании, вступающей в СРО.
                                                        </p>
                                                        <p>
                                                            Если Вам предлагают рассрочку от какой-либо саморегулируемой организации, то будьте уверены, что это незаконно, в связи с этим данное партнерство может лишиться своего статуса, и все
                                                            выданные допуски потеряют свою силу.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Можно ли купить допуск СРО строителей?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Купить допуск нельзя. С юридической точки зрения, такое действие является незаконным и наказывается в соответствии с УК РФ.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Будет ли заключен договор с саморегулируемой организацией при вступлении?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            По законодательству заключение договора и акта не предусматривается (статья 55.8 Градостроительного Кодекса РФ).
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="faq__accordeon-content-list-item">
                                                <div class="faq__accordeon-content-card">
                                                    <h5 class="faq__accordeon-content-question">
                                                        Обязательно ли у вступающей фирмы должны быть соответствующие ОКВЭД?
                                                    </h5>
                                                    <div class="faq__accordeon-content-answer">
                                                        <p>
                                                            Не обязательно. Их можно вносить параллельно, либо после вступления в СРО.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
