<section class="gallery js-gallery-slider">
    <div class="gallery__slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery__slider-card">
                        <div class="gallery__slider-card-bg">
                            <img src="img/gallery-slider-image.jpg" alt="" class="gallery__slider-card-image" data-swiper-parallax="30%" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery__slider-card">
                        <div class="gallery__slider-card-bg">
                            <img src="img/gallery-slider-image.jpg" alt="" class="gallery__slider-card-image" data-swiper-parallax="30%" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery__slider-card">
                        <div class="gallery__slider-card-bg">
                            <img src="img/gallery-slider-image.jpg" alt="" class="gallery__slider-card-image" data-swiper-parallax="30%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <picture>
            <source srcset="img/expert-word-bold.svg" media="(max-width: 767px)" />
            <img src="img/expert-word.svg" alt="" class="gallery__company-name" />
        </picture>
    </div>
    <div class="container">
        <div class="gallery__slider-wrapper">
            <div class="gallery__slider-nav">
                <button class="gallery__slider-nav-btn gallery__slider-nav-btn--next">
                    <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-right">
                        <use xlink:href="#long-arrow-right" />
                    </svg>
                </button>
                <button class="gallery__slider-nav-btn gallery__slider-nav-btn--prev">
                    <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-left">
                        <use xlink:href="#long-arrow-left" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
