<section class="how-to-apply">
    <div class="container">
        <div class="how-to-apply__content">
            <div class="inner-container">
                <div class="how-to-apply__row">
                    <div class="how-to-apply__left-col">
                        <h2 class="how-to-apply__heading">
                            Как вступить в СРО
                        </h2>
                        <div class="how-to-apply__remark-text">
                            <p>
                                Все три шага займут не более 3 часов
                            </p>
                            <p>
                                Потребуется лишь один визит в любой из наших офисов

                            </p>
                        </div>
                    </div>
                    <div class="how-to-apply__right-col">
                        <ul class="how-to-apply__steps-list">
                            <li class="how-to-apply__steps-list-item">
                                <div class="how-to-apply__steps-card">
                                    <span class="how-to-apply__steps-card-number">
                                        Шаг 01
                                    </span>
                                    <div class="how-to-apply__steps-card-text">
                                        Пройдите небольшой опрос и узнайте стоимость вступления в СРО
                                    </div>
                                </div>
                            </li>
                            <li class="how-to-apply__steps-list-item">
                                <div class="how-to-apply__steps-card">
                                    <span class="how-to-apply__steps-card-number">
                                        Шаг 02
                                    </span>
                                    <div class="how-to-apply__steps-card-text">
                                        Мы подберем подходящую организацию и подготовим документы
                                    </div>
                                </div>
                            </li>
                            <li class="how-to-apply__steps-list-item">
                                <div class="how-to-apply__steps-card">
                                    <span class="how-to-apply__steps-card-number">
                                        Шаг 03
                                    </span>
                                    <div class="how-to-apply__steps-card-text">
                                        Оплатите обязательные взносы и получите выписку из реестра

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="how-to-apply__red-label">
                            <div class="how-to-apply__red-label-circle">
                                <div class="how-to-apply__red-label-circle-dot"></div>
                            </div>
                            <div class="how-to-apply__red-label-text">
                                пройти опрос
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>