<section class="make-a-call">
    <div class="container">
        <div class="make-a-call__content">
            <div class="inner-container">
                <h2 class="make-a-call__heading">
                    Заказать звонок
                </h2>
                <div class="make-a-call__intro-text">
                    <p>
                        12 лет, опытная команда и 5000 довольных клиентов по всей России
                    </p>
                </div>
                <div class="make-a-call__row">
                    <form action="/" method="POST" class="make-a-call__form" autocomplete="off" data-parsley-validate>
                        <div class="make-a-call__form-row">
                            <input type="text" class="make-a-call__form-input" name="name" required placeholder="Имя" />
                        </div>
                        <div class="make-a-call__form-row">
                            <input type="tel" class="make-a-call__form-input" name="name" required data-parsley-phone placeholder="Номер телефона" />
                        </div>
                        <div class="make-a-call__form-row">
                            <input type="email" class="make-a-call__form-input" name="name" required placeholder="Электронная почта" />
                        </div>
                        <button type="submit" class="make-a-call__form-submit">
                            <span class="make-a-call__form-submit-content">
                                Заказать
                            </span>
                        </button>
                    </form>
                    <div class="make-a-call__specialist">
                        <div class="make-a-call__specialist-info">
                            <h4 class="make-a-call__specialist-name">
                                Надежда Солдатова
                            </h4>
                            <div class="make-a-call__specialist-text">
                                <p>
                                    Ваш помощник в вопросах получения допуска СРО
                                </p>
                            </div>
                        </div>
                        <img src="img/order-sro-license.png" alt="" class="make-a-call__specialist-photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
