<section class="order-sro-license">
    <div class="container">
        <div class="order-sro-license__intro-text-wrapper js-intro-text-wrapper">
            <div class="order-sro-license__intro-text js-intro-text">
                <h1 class="page-title">
                    <div class="page-title__inner-content">
                        Подберем специалистов НРС или внесем ваших для быстрого вступления в СРО
                    </div>
                </h1>
                <p class="page-description">
                    <span class="page-description__inner-content"> За два дня, от <em>10 000 </em> <span style="font-family: 'GothamPro',Candara,Segoe,Segoe UI,Helvetica Neue,Helvetica sans-serif;">₽</span> </span>
                </p>
            </div>
        </div>
        <div class="order-sro-license__content">
            <div class="order-sro-license__row">
                <div class="order-sro-license__left-col">
                    <form action="/" method="POST" class="order-sro-license__form" data-parsley-validate>
                        <h3 class="order-sro-license__form-heading">
                            Заказать допуск СРО
                        </h3>
                        <div class="order-sro-license__form-fields">
                            <div class="order-sro-license__form-row">
                                <input type="text" name="name" class="order-sro-license__form-input" required placeholder="Имя" />
                            </div>
                            <div class="order-sro-license__form-row">
                                <input type="tel" name="phone" class="order-sro-license__form-input js-phone-input" required data-parsley-phone placeholder="Номер телефона" />
                            </div>
                            <div class="order-sro-license__form-row">
                                <input type="email" name="email" class="order-sro-license__form-input" required placeholder="Электронная почта" />
                            </div>
                            <button type="submit" class="order-sro-license__form-submit">
                                <span class="order-sro-license__form-submit-content">
                                    Заказать
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="order-sro-license__right-col">
                    <div class="order-sro-license__consultation">
                        <div class="order-sro-license__consultation-content">
                            <h5 class="order-sro-license__consultation-specialist-name">
                                Надежда Солдатова
                            </h5>
                            <div class="order-sro-license__consultation-specialist-text">
                                Ваш помощник в вопросах получения допуска СРО
                            </div>
                            <a href="#" class="order-sro-license__consultation-link">
                                Получить консультацию
                            </a>
                        </div>
                        <img src="img/order-sro-license.png" alt="" class="order-sro-license__consultation-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
