<section class="offers js-offers-slider">
    <div class="container">
        <div class="offers__row">
            <div class="offers__nav">
                <div class="offers__nav-btns">
                    <button class="offers__nav-btn offers__nav-btn--next">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </button>
                    <button class="offers__nav-btn offers__nav-btn--prev">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-left">
                            <use xlink:href="#long-arrow-left" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="offers__slider-wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="offers__card">
                                
                                <div class="offers__card-inner">
                                    <img src="img/offers-image.png" alt="" class="offers__card-image offers__card-image--phone">
                                    <div class="offers__card-content">
                                        <h4 class="offers__card-title">
                                            Не тратьте время!
                                        </h4>
                                        <div class="offers__card-text">
                                            <p>
                                                При вступлении в СРО, мы бесплатно предоставляем 2 сотрудников, готовых к официальному трудоустройству, соответствующих требованиям.
                                            </p>
                                        </div>
                                        <a href="#" class="offers__card-details-link">
                                            Подробнее
                                        </a>
                                    </div>

                                    

                                    <div class="offers__card-label">
                                        <div class="offers__card-label-small-text">
                                            Акция действительна до 
                                        </div>
                                        <div class="offers__card-label-large-text">
                                            15.04.2020
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="offers__card">
                                
                                <div class="offers__card-inner">
                                    <img src="img/offers-image.png" alt="" class="offers__card-image offers__card-image--phone">
                                    <div class="offers__card-content">
                                        <h4 class="offers__card-title">
                                            Второй слайд
                                        </h4>
                                        <div class="offers__card-text">
                                            <p>
                                                При вступлении в СРО, мы бесплатно предоставляем 2 сотрудников, готовых к официальному трудоустройству, соответствующих требованиям.
                                            </p>
                                        </div>
                                        <a href="#" class="offers__card-details-link">
                                            Подробнее
                                        </a>
                                    </div>

                                    

                                    <div class="offers__card-label">
                                        <div class="offers__card-label-small-text">
                                            Акция действительна до 
                                        </div>
                                        <div class="offers__card-label-large-text">
                                            15.04.2020
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
