<section class="other-services other-services--standalone js-other-services-slider">
    <div class="container">
        <div class="other-services__content">
            <div class="inner-container">
                <h2 class="other-services__heading">
                    Другие услуги
                </h2>
            </div>

            <div class="other-services__slider-wrapper">
                <div class="others-services__slider-navigation">
                    <button class="others-services__slider-btn others-services__slider-btn--next">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </button>
                    <button class="others-services__slider-btn others-services__slider-btn--prev">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-left">
                            <use xlink:href="#long-arrow-left" />
                        </svg>
                    </button>
                </div>
                <div class="inner-container">
                    <div class="other-services__slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="other-services__slider-card">
                                        <div class="other-services__slider-card-image-container">
                                            <img src="img/advantages/User_white.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--white" />
                                            <img src="img/advantages/User_red.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--red" />
                                        </div>
                                        <div class="other-services__slider-card-content">
                                            <h4 class="other-services__slider-card-title">
                                                Подбор специалистов
                                            </h4>
                                            <div class="other-services__slider-card-text">
                                                Подберем и трудоустроим специалистов с необходимой квалификацией для получения нужного допуска СРО
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-services__slider-card">
                                        <div class="other-services__slider-card-image-container">
                                            <img src="img/advantages/Prize_white.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--white" />
                                            <img src="img/advantages/Prize_red.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--red" />
                                        </div>
                                        <div class="other-services__slider-card-content">
                                            <h4 class="other-services__slider-card-title">
                                                Страхование гражданской ответственности
                                            </h4>
                                            <div class="other-services__slider-card-text">
                                                Отличные условия страхования для наших клиентов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-services__slider-card">
                                        <div class="other-services__slider-card-image-container">
                                            <img src="img/advantages/Shield_white.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--white" />
                                            <img src="img/advantages/Shield_red.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--red" />
                                        </div>
                                        <div class="other-services__slider-card-content">
                                            <h4 class="other-services__slider-card-title">
                                                Оформление сертификатов и лицензий
                                            </h4>
                                            <div class="other-services__slider-card-text">
                                                Поможем получить сертификаты ISO и РПО, лицензии МЧС, ФСБ, Ростехнадзора и других органов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-services__slider-card">
                                        <div class="other-services__slider-card-image-container">
                                            <img src="img/advantages/User_white.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--white" />
                                            <img src="img/advantages/User_red.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--red" />
                                        </div>
                                        <div class="other-services__slider-card-content">
                                            <h4 class="other-services__slider-card-title">
                                                Подбор специалистов
                                            </h4>
                                            <div class="other-services__slider-card-text">
                                                Подберем и трудоустроим специалистов с необходимой квалификацией для получения нужного допуска СРО
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-services__slider-card">
                                        <div class="other-services__slider-card-image-container">
                                            <img src="img/advantages/Prize_white.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--white" />
                                            <img src="img/advantages/Prize_red.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--red" />
                                        </div>
                                        <div class="other-services__slider-card-content">
                                            <h4 class="other-services__slider-card-title">
                                                Страхование гражданской ответственности
                                            </h4>
                                            <div class="other-services__slider-card-text">
                                                Отличные условия страхования для наших клиентов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="other-services__slider-card">
                                        <div class="other-services__slider-card-image-container">
                                            <img src="img/advantages/Shield_white.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--white" />
                                            <img src="img/advantages/Shield_red.png" alt="" class="other-services__slider-card-image other-services__slider-card-image--red" />
                                        </div>
                                        <div class="other-services__slider-card-content">
                                            <h4 class="other-services__slider-card-title">
                                                Оформление сертификатов и лицензий
                                            </h4>
                                            <div class="other-services__slider-card-text">
                                                Поможем получить сертификаты ISO и РПО, лицензии МЧС, ФСБ, Ростехнадзора и других органов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
