<section class="our-offices">
    <div class="container">
        <div class="our-offices__content">
            <div class="inner-container">
                <div class="our-offices__row">
                    <div class="our-offices__col">
                        <div class="our-offices__card">
                            <h2 class="our-offices__info-card-heading">
                                Наши<br> офисы
                            </h2>


                            <a href="tel:+78432266900" class="our-offices__info-card-phone-link">8 843 226-69-00</a>

                            <p class="our-offices__info-time">
                                Пн-пт, 8:30–18:00 МСК
                            </p>


                            <a href="#" class="our-offices__info-card-callback-link">Заказть звонок</a>
                        </div>
                    </div>
                    <div class="our-offices__col">
                        <div class="our-offices__card">
                            <div class="our-offices__card-overlay">
                                <div class="our-offices__card-overlay-image-container">
                                    <img src="img/office-overlay-image.jpg" alt="" class="our-offices__card-overlay-image">
                                    <span class="our-offices__card-overlay-image-pin" ie-style="--pin-x: 17rem; --pin-y: 13rem;" style="--pin-x: 17rem; --pin-y: 13rem;"></span>
                                </div>
                            </div>
                            <div class="our-offices__card-image-container">
                                <img src="img/offices-bg.jpg" alt="" class="our-offices__card-image">
                            </div>

                            <h4 class="our-offices__card-address-heading">
                                На Авангардной
                            </h4>

                            <p class="our-offices__card-address-name">
                                Ул. Авангардная, 145
                            </p>
                            <a href="#" class="our-offices__card-address-link">
                                Посмотреть на карте
                            </a>


                        
                        </div>
                    </div>
                    <div class="our-offices__col">
                        <div class="our-offices__card">
                            <div class="our-offices__card-overlay">
                                <div class="our-offices__card-overlay-image-container">
                                    <img src="img/office-overlay-image.jpg" alt="" class="our-offices__card-overlay-image">
                                    <span class="our-offices__card-overlay-image-pin" ie-style="--pin-x: 17rem; --pin-y: 13rem;" style="--pin-x: 17rem; --pin-y: 13rem;"></span>
                                </div>
                            </div>
                            <div class="our-offices__card-image-container">
                                <img src="img/offices-bg.jpg" alt="" class="our-offices__card-image">
                            </div>

                            <h4 class="our-offices__card-address-heading">
                                На Авангардной
                            </h4>

                            <p class="our-offices__card-address-name">
                                Ул. Авангардная, 145
                            </p>
                            <a href="#" class="our-offices__card-address-link">
                                Посмотреть на карте
                            </a>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>