<div class="our-services">
    <div class="container">
        <div class="our-services__content">
            <div class="inner-container">
                <h2 class="our-services__heading">
                    Наши услуги
                </h2>
                <ul class="our-services__list">
                    <li class="our-services__list-item">
                        <div class="our-services__card">
                            <div class="our-services__card-icon-container">
                                <img src="img/advantages/User_white.png" alt="" class="our-services__card-icon our-services__card-icon--white" />
                                <img src="img/advantages/User_red.png" alt="" class="our-services__card-icon our-services__card-icon--red" />
                            </div>
                            <h4 class="our-services__card-heading">
                                Внесение специалистов в НРС
                            </h4>
                            <p class="our-services__card-remark">
                                За 2 недели и 10 000 ₽
                            </p>
                            <div class="our-services__card-text">
                                <p>
                                    Если у Вас есть трудоустроенные специалисты, которые полностью соответствуют установленным законодательным требованиям, мы внесем информацию о них в НРС.
                                </p>
                            </div>
                            <div class="our-services__card-btns">
                                <a href="#" class="our-services__card-order-btn">
                                    Заказать
                                </a>
                                <a href="#" class="our-services__card-get-consultation">Получить консультацию</a>
                            </div>
                        </div>
                    </li>
                    <li class="our-services__list-item">
                        <div class="our-services__card">
                            <div class="our-services__card-icon-container">
                                <img src="img/advantages/User_white.png" alt="" class="our-services__card-icon our-services__card-icon--white" />
                                <img src="img/advantages/User_red.png" alt="" class="our-services__card-icon our-services__card-icon--red" />
                            </div>
                            <h4 class="our-services__card-heading">
                                Подбор и трудоустройство специалиста НРС
                            </h4>
                            <p class="our-services__card-remark">
                                За 2 дня и 35 000 ₽
                            </p>
                            <div class="our-services__card-text">
                                <p>
                                    Мы поможем подобрать специалистов с необходимым набором компетенций, стажем, уровнем образования и поможем с их оформлением в штат.
                                </p>
                            </div>
                            <div class="our-services__card-btns">
                                <a href="#" class="our-services__card-order-btn">
                                    Заказать
                                </a>
                                <a href="#" class="our-services__card-get-consultation">Получить консультацию</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
