<section class="requirements">
    <div class="container">
        <div class="requirements__content">
            <div class="inner-container">
                <h2 class="requirements__heading">
                    Условия и требования для вступления
                </h2>
                <div class="requirements__tabs-wrapper js-tabs" data-adaptive-tabs data-has-spinner>
                    <div class="requirements__tabs-nav">
                        <div class="requirements__tabs-nav-links">
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Стоимость
                            </a>
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Вступительные взносы
                            </a>
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Общие требования
                            </a>
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Необходимые документы
                            </a>
                        </div>
                    </div>
                    <div class="requirements__tabs-items">
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Стоимость
                                </h3>
                                <div class="requirements__card-content">
                                    <div class="requirements__price">
                                        <div class="requirements__price-table">
                                            <table>
                                                <tr>
                                                    <td>
                                                        Специалисты для НРС
                                                    </td>
                                                    <td>
                                                        В ПОДАРОК
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Сертификат ISO
                                                    </td>
                                                    <td>
                                                        В ПОДАРОК
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Подготовка документов
                                                    </td>
                                                    <td>
                                                        0 ₽
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Компенсационный фонд
                                                    </td>
                                                    <td>
                                                        100 000 ₽
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Вступительный взнос
                                                    </td>
                                                    <td>
                                                        0 ₽
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Ежемесячный членский взнос
                                                    </td>
                                                    <td>
                                                        5 000 ₽
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Страховка
                                                    </td>
                                                    <td>
                                                        8 750 ₽
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Итого
                                                    </th>
                                                    <th>
                                                        113 750 ₽
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="requirements__price-links">
                                            <a href="#" class="requirements__price-order-link">
                                                Заказать
                                            </a>
                                            <a href="#" class="requirements__price-full-price-link">
                                                Рассчитать точную стоимость
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Вступительные взносы
                                </h3>
                                <div class="requirements__card-content">
                                    <div class="requirements__cost">
                                        <div class="requirements__cost-text">
                                            <p>
                                                Чтобы вступить в СРО и получить допуск, необходимо оплатить взносы в компенсационный фонд. Взносы оплачиваются без НДС. Размер взноса зависит от уровня ответственности и контрактов, планируемых для
                                                заключения в будущем.
                                            </p>
                                        </div>
                                        <div class="requirements__cost-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Стоимость договора генподряда
                                                        </th>
                                                        <th>
                                                            Взнос в КФ ВВ
                                                        </th>
                                                        <th>
                                                            Взнос в КФ ОДО
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            до 60 млн
                                                        </td>
                                                        <td>
                                                            100 000 Р
                                                        </td>
                                                        <td>
                                                            100 000 Р
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            до 500 млн
                                                        </td>
                                                        <td>
                                                            500 000 Р
                                                        </td>
                                                        <td>
                                                            500 000 Р
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            до 3 млрд
                                                        </td>
                                                        <td>
                                                            1 500 000 Р
                                                        </td>
                                                        <td>
                                                            1 500 000 Р
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            до 10 млрд
                                                        </td>
                                                        <td>
                                                            2 000 000 Р
                                                        </td>
                                                        <td>
                                                            2 000 000 Р
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            более 10 млрд
                                                        </td>
                                                        <td>
                                                            5 000 000 Р
                                                        </td>
                                                        <td>
                                                            5 000 000 Р
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Общие требования
                                </h3>
                                <div class="requirements__card-content">
                                    <ul class="requirements__list">
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Страхование
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для получения членства в СРО, кандидат должен заключить договор по страхованию гражданской ответственности. Стоимость страховки зависит от суммы покрытия.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Мы оказываем услуги страхования на выгодных условиях
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Квалифицированные специалисты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Каждый член СРО строителей должен иметь в штате минимум двух специалистов с высшим техническим образованием и стажем работы по профилю от 10 лет, сведения о которых внесены в НРС.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Подбираем и трудоустраиваем сотрудников для вступления в СРО
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Дополнительные сертификаты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для работы на особых объектах или выполнения специализированных типов работ требуются лицензии. Например, лицензия МЧС для установки противопожарного оборудования.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Оказываем помощь в получении сертификатов и лицензий
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Необходимые документы
                                </h3>
                                <div class="requirements__card-content">
                                    <div class="requirements__docs">
                                        <ol class="requirements__docs-list">
                                            <li class="requirements__docs-list-item">
                                                Заявление установленной формы;
                                            </li>
                                            <li class="requirements__docs-list-item">
                                                Уведомление о намерении принимать участие в заключении договоров на выполнение строительных подрядов;
                                            </li>
                                            <li class="requirements__docs-list-item">
                                                Документы, подтверждающие наличие в штате специалистов НРС;
                                            </li>
                                            <li class="requirements__docs-list-item">
                                                Свидетельство о регистрации юридического лица либо индивидуального предпринимателя;
                                            </li>
                                            <li class="requirements__docs-list-item">
                                                Документы о наличии необходимой техники для проведения строительных работ;
                                            </li>
                                            <li class="requirements__docs-list-item">
                                                Страховой полис;
                                            </li>
                                            <li class="requirements__docs-list-item">
                                                По запросу сертификаты качества и лицензии специализированных ведомств (МЧС, Ростехнадзор, ФСБ, Минкульт и др);
                                            </li>
                                            <li class="requirements__docs-list-item">
                                                Платежное поручение об оплате госпошлины и взносов.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
