<section class="requirements">
    <div class="container">
        <div class="requirements__content">
            <div class="inner-container">
                <h2 class="requirements__heading">
                    Условия и требования для вступления
                </h2>
                <div class="requirements__tabs-wrapper js-tabs">
                    <div class="requirements__tabs-nav">
                        <div class="requirements__tabs-nav-links">
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Стоимость
                            </a>
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Вступительные взносы
                            </a>
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Общие требования
                            </a>
                            <a href="#" class="requirements__tabs-nav-link js-tabs-nav">
                                Необходимые документы
                            </a>
                        </div>
                    </div>
                    <div class="requirements__tabs-items">
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Стоимость
                                </h3>
                                <div class="requirements__card-content">
                                    <ul class="requirements__list">
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Страхование
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для получения членства в СРО, кандидат должен заключить договор по страхованию гражданской ответственности. Стоимость страховки зависит от суммы покрытия.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Мы оказываем услуги страхования на выгодных условиях
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Квалифицированные специалисты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Каждый член СРО строителей должен иметь в штате минимум двух специалистов с высшим техническим образованием и стажем работы по профилю от 10 лет, сведения о которых внесены в НРС.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Подбираем и трудоустраиваем сотрудников для вступления в СРО
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Дополнительные сертификаты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для работы на особых объектах или выполнения специализированных типов работ требуются лицензии. Например, лицензия МЧС для установки противопожарного оборудования.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Оказываем помощь в получении сертификатов и лицензий
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Вступительные взносы
                                </h3>
                                <div class="requirements__card-content">
                                    <ul class="requirements__list">
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Квалифицированные специалисты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Каждый член СРО строителей должен иметь в штате минимум двух специалистов с высшим техническим образованием и стажем работы по профилю от 10 лет, сведения о которых внесены в НРС.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Подбираем и трудоустраиваем сотрудников для вступления в СРО
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Дополнительные сертификаты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для работы на особых объектах или выполнения специализированных типов работ требуются лицензии. Например, лицензия МЧС для установки противопожарного оборудования.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Оказываем помощь в получении сертификатов и лицензий
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Общие требования
                                </h3>
                                <div class="requirements__card-content">
                                    <ul class="requirements__list">
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Страхование
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для получения членства в СРО, кандидат должен заключить договор по страхованию гражданской ответственности. Стоимость страховки зависит от суммы покрытия.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Мы оказываем услуги страхования на выгодных условиях
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Квалифицированные специалисты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Каждый член СРО строителей должен иметь в штате минимум двух специалистов с высшим техническим образованием и стажем работы по профилю от 10 лет, сведения о которых внесены в НРС.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Подбираем и трудоустраиваем сотрудников для вступления в СРО
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Дополнительные сертификаты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для работы на особых объектах или выполнения специализированных типов работ требуются лицензии. Например, лицензия МЧС для установки противопожарного оборудования.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Оказываем помощь в получении сертификатов и лицензий
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="requirements__tabs-item js-tabs-item">
                            <div class="requirements__card">
                                <h3 class="requirements__card-heading">
                                    Необходимые документы
                                </h3>
                                <div class="requirements__card-content">
                                    <ul class="requirements__list">
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Страхование
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для получения членства в СРО, кандидат должен заключить договор по страхованию гражданской ответственности. Стоимость страховки зависит от суммы покрытия.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Мы оказываем услуги страхования на выгодных условиях
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Квалифицированные специалисты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Каждый член СРО строителей должен иметь в штате минимум двух специалистов с высшим техническим образованием и стажем работы по профилю от 10 лет, сведения о которых внесены в НРС.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Подбираем и трудоустраиваем сотрудников для вступления в СРО
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="requirements__list-item">
                                            <div class="requirements__list-card">
                                                <div class="requirements__list-card-left-col">
                                                    <h4 class="requirements__title">
                                                        Дополнительные сертификаты
                                                    </h4>
                                                    <div class="requirements__text">
                                                        <p>
                                                            Для работы на особых объектах или выполнения специализированных типов работ требуются лицензии. Например, лицензия МЧС для установки противопожарного оборудования.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="requirements__list-card-right-col">
                                                    <div class="requirements__icon-container">
                                                        <img src="img/checkmark.svg" alt="" class="requirements__icon" />
                                                    </div>
                                                    <div class="requirements__remark-text">
                                                        <p>
                                                            Оказываем помощь в получении сертификатов и лицензий
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
