<section class="required-docs">
    <div class="container">
        <div class="required-docs__content">
            <div class="inner-container">
                <h2 class="required-docs__heading">
                    Необходимые<br> документы
                </h2>

                <div class="required-docs__info">
                    <ol class="required-docs__list">
                        <li class="required-docs__list-item">
                            <div class="required-docs__card">
                                Заявление установленной формы;
                            </div>
                        </li>
                        <li class="required-docs__list-item">
                            <div class="required-docs__card">
                                Уведомление о намерении принимать участие в заключении договоров на выполнение строительных подрядов;
                            </div>
                        </li>
                        <li class="required-docs__list-item">
                            <div class="required-docs__card">
                                Документы, подтверждающие наличие в штате специалистов НРС;
                            </div>
                        </li>
                        <li class="required-docs__list-item">
                            <div class="required-docs__card">
                                Свидетельство о регистрации юридического лица либо индивидуального предпринимателя;
                            </div>
                        </li>
                        <li class="required-docs__list-item">
                            <div class="required-docs__card">
                                Документы о наличии необходимой техники для проведения строительных работ;
                            </div>
                        </li>
                        <li class="required-docs__list-item">
                            <div class="required-docs__card">
                                Страховой полис;
                            </div>
                        </li>
                        <li class="required-docs__list-item">
                            <div class="required-docs__card">
                                По запросу сертификаты качества и лицензии специализированных ведомств (МЧС, Ростехнадзор, ФСБ, Минкульт и др); Платежное поручение об оплате госпошлины и взносов.
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
