<section class="reviews js-reviews-slider">
    <div class="container">
        <div class="reviews__content">
            <div class="inner-container">
                <h2 class="reviews__heading">
                    Отзывы
                </h2>
            </div>

            <div class="reviews__slider-wrapper">
                <div class="reviews__slider-navigation">
                    <button class="reviews__slider-btn reviews__slider-btn--next">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </button>
                    <button class="reviews__slider-btn reviews__slider-btn--prev">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-left">
                            <use xlink:href="#long-arrow-left" />
                        </svg>
                    </button>
                </div>
                <div class="inner-container">
                    <div class="reviews__slider">
                        <div class="reviews__slider-main">
                            <div class="reviews__slider-main-bg">
                                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 881 390"><defs><style>.cls-1{fill:none;stroke:#ffffff;stroke-width:5px;}</style></defs><path class="cls-1" d="M850.34,356H2.5V2.5h876V383.84l-26.36-27.12-.74-.76Z"/></svg>
                            </div>
                           
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="reviews__slider-main-card">
                                            <p class="reviews__slider-main-card-text">
                                                При вступлении в СРО, мы бесплатно предоставляем 2 сотрудников, готовых к официальному трудоустройству, соответствующих требованиям.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="reviews__slider-main-card">
                                            <p class="reviews__slider-main-card-text">
                                                При вступлении в СРО, мы бесплатно предоставляем 2 сотрудников.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__slider-secondary">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="reviews__slider-secondary-card">
                                            <p class="reviews__slider-secondary-card-name">
                                                Константинопольский Константин
                                            </p>
                                            <p class="reviews__slider-secondary-card-role">
                                                Генеральный директор ООО «Уральский металлургический завод»
                                            </p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="reviews__slider-secondary-card">
                                            <p class="reviews__slider-secondary-card-name">
                                                Василий Васильев
                                            </p>
                                            <p class="reviews__slider-secondary-card-role">
                                                Генеральный директор ООО «Василий»
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
