<section class="team js-team-slider">
    <div class="container">
        <div class="team__content">
            <div class="inner-container">
                <div class="team__top-row">
                    <h2 class="team__heading">
                        Команда
                    </h2>
                    <div class="team__text">
                        <p>
                            В нашей команде только профессионалы со стажем от трех лет, постоянно принимающие участия в тематических семинарах и повышающие свою квалификацию.
                        </p>
                    </div>
                </div>
            </div>
            <div class="team-slider__wrapper">
                <div class="team__slider-navigation">
                    <button class="team__slider-btn team__slider-btn--next">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-right">
                            <use xlink:href="#long-arrow-right" />
                        </svg>
                    </button>
                    <button class="team__slider-btn team__slider-btn--prev">
                        <svg width="20" height="14" aria-hidden="true" class="icon-long-arrow-left">
                            <use xlink:href="#long-arrow-left" />
                        </svg>
                    </button>
                </div>
                <div class="inner-container">
                    <div class="team__slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="team__card">
                                        <div class="team__card-image-container">
                                            <img src="img/team/girl-1.png" alt="" class="team__card-image" />
                                        </div>
                                       
                                        <div class="team__card-info">
                                            <div class="team__card-info-circle" ie-style="--dot-x: 3.6rem; --dot-y: 3.1rem;" style="--dot-x: 3.6rem; --dot-y: 3.1rem;">
                                                <div class="team__card-info-circle-dot"></div>
                                            </div>
                                            <div class="team__card-info-text-wrapper">
                                                <h4 class="team__card-info-text-name">
                                                    Надежда Солдатова
                                                </h4>
                                                <div class="team__card-info-text-content">
                                                    Ваш помощник в вопросах получения допусков СРО
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team__card">
                                        <div class="team__card-image-container">
                                            <img src="img/team/girl-2.png" alt="" class="team__card-image" />
                                        </div>
                                        <div class="team__card-info">
                                            <div class="team__card-info-circle" ie-style="--dot-x: 1.5rem; --dot-y: 2rem;" style="--dot-x: 1.5rem; --dot-y: 2rem;">
                                                <div class="team__card-info-circle-dot"></div>
                                            </div>
                                            <div class="team__card-info-text-wrapper">
                                                <h4 class="team__card-info-text-name">
                                                    Надежда Солдатова
                                                </h4>
                                                <div class="team__card-info-text-content">
                                                    Ваш помощник в вопросах получения допусков СРО
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team__card">
                                        <div class="team__card-image-container">
                                            <img src="img/team/girl-3.png" alt="" class="team__card-image" />
                                        </div>
                                        <div class="team__card-info">
                                            <div class="team__card-info-circle" ie-style="--dot-x: 3.4rem; --dot-y: 1.6rem;" style="--dot-x: 3.4rem; --dot-y: 1.6rem;">
                                                <div class="team__card-info-circle-dot"></div>
                                            </div>
                                            <div class="team__card-info-text-wrapper">
                                                <h4 class="team__card-info-text-name">
                                                    Надежда Солдатова
                                                </h4>
                                                <div class="team__card-info-text-content">
                                                    Ваш помощник в вопросах получения допусков СРО
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team__card">
                                        <div class="team__card-image-container">
                                            <img src="img/team/girl-1.png" alt="" class="team__card-image" />
                                        </div>
                                        <div class="team__card-info">
                                            <div class="team__card-info-circle" ie-style="--dot-x: 3.6rem; --dot-y: 3.1rem;" style="--dot-x: 3.6rem; --dot-y: 3.1rem;">
                                                <div class="team__card-info-circle-dot"></div>
                                            </div>
                                            <div class="team__card-info-text-wrapper">
                                                <h4 class="team__card-info-text-name">
                                                    Надежда Солдатова
                                                </h4>
                                                <div class="team__card-info-text-content">
                                                    Ваш помощник в вопросах получения допусков СРО
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team__card">
                                        <div class="team__card-image-container">
                                            <img src="img/team/girl-2.png" alt="" class="team__card-image" />
                                        </div>
                                        <div class="team__card-info">
                                            <div class="team__card-info-circle" ie-style="--dot-x: 1.5rem; --dot-y: 2rem;" style="--dot-x: 1.5rem; --dot-y: 2rem;">
                                                <div class="team__card-info-circle-dot"></div>
                                            </div>
                                            <div class="team__card-info-text-wrapper">
                                                <h4 class="team__card-info-text-name">
                                                    Надежда Солдатова
                                                </h4>
                                                <div class="team__card-info-text-content">
                                                    Ваш помощник в вопросах получения допусков СРО
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team__card">
                                        <div class="team__card-image-container">
                                            <img src="img/team/girl-3.png" alt="" class="team__card-image" />
                                        </div>
                                        <div class="team__card-info">
                                            <div class="team__card-info-circle" ie-style="--dot-x: 3.4rem; --dot-y: 1.6rem;" style="--dot-x: 3.4rem; --dot-y: 1.6rem;">
                                                <div class="team__card-info-circle-dot"></div>
                                            </div>
                                            <div class="team__card-info-text-wrapper">
                                                <h4 class="team__card-info-text-name">
                                                    Надежда Солдатова
                                                </h4>
                                                <div class="team__card-info-text-content">
                                                    Ваш помощник в вопросах получения допусков СРО
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
