<section class="types js-types-slider">
    <div class="fullheight-bg">
        <img src="img/top-bg.jpg" alt="" class="fullheight-bg__image" />
    </div>
    <div class="container">
        <div class="types__intro-text">
            <h1 class="page-title">
                <div class="page-title__inner-content">
                    мы Оформляем<br />
                    допуски СРО
                </div>
            </h1>
            <p class="page-description">
                <span class="page-description__inner-content">
                    Без посредников и за 1 день
                </span>
            </p>
        </div>

        <div class="types__content">
            <div class="swiper-container">
                <ul class="swiper-wrapper types__list">
                    <li class="swiper-slide types__list-item">
                        <div class="types__card">
                            <img src="img/types/image-1.png" alt="" class="types__card-image" />
                            <h5 class="types__card-title">
                                Для строителей
                            </h5>
                            <div class="types__card-price">
                                от 113 750 ₽
                            </div>
                            <div class="types__card-time">
                                за 1 день
                            </div>
                            <a href="#" class="types__card-details-link">
                                Подробнее
                            </a>
                            <a href="#" class="types__card-order-link">
                                Заказать
                            </a>
                        </div>
                    </li>
                    <li class="swiper-slide types__list-item">
                        <div class="types__card">
                            <img src="img/types/image-2.png" alt="" class="types__card-image" />
                            <h5 class="types__card-title">
                                Для проектиров-щиков
                            </h5>
                            <div class="types__card-price">
                                от 113 750 ₽
                            </div>
                            <div class="types__card-time">
                                за 1 день
                            </div>
                            <a href="#" class="types__card-details-link">
                                Подробнее
                            </a>
                            <a href="#" class="types__card-order-link">
                                Заказать
                            </a>
                        </div>
                    </li>
                    <li class="swiper-slide types__list-item">
                        <div class="types__card">
                            <img src="img/types/image-3.png" alt="" class="types__card-image" />
                            <h5 class="types__card-title">
                                Для изыскателей
                            </h5>
                            <div class="types__card-price">
                                от 113 750 ₽
                            </div>
                            <div class="types__card-time">
                                за 1 день
                            </div>
                            <a href="#" class="types__card-details-link">
                                Подробнее
                            </a>
                            <a href="#" class="types__card-order-link">
                                Заказать
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
