{% if not(title) %} {% set title = "Modern Boilerplate" %} {% endif %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script>
            window.MSInputMethodContext && document.documentMode && document.write('<script src="assets/js/ie11CustomProperties.js"><\x2fscript>');
        </script>
        <link rel="stylesheet" href="css/styles.min.css" />
        <title>
            {{ title }}
        </title>
    </head>
    <body class="no-touch" ontouchstart="">
        <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
            {% include "sprite.njk" %}
        </div>
        <a href="index.html" class="sidelogo">
            <img src="img/Union.svg" alt="" class="sidelogo__image" />
        </a>

        <div class="fullheight-bg">
            {% if activePage == "Index" %}
            <img src="img/top-bg.jpg" alt="" class="fullheight-bg__image" />
            {% elif activePage == "SRO" %}
            <img src="img/top-bg-sro.jpg" alt="" class="fullheight-bg__image" />
            {% else %}
            <img src="img/top-bg-nrs.jpg" alt="" class="fullheight-bg__image" />
            {% endif %}

            <span class="fullheight-bg__overlay"></span>
        </div>
        <div class="page-content">
            {% include "partials/preloader.html" %}
            {% include "partials/header.html" %}
            <main class="page-main">
                {% block content %}{% endblock %}
            </main>
            {% include "partials/footer.html" %} 
            {% include "partials/modals.html" %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="js/app.js"></script>
            <script>
                var callbackForm = document.querySelector('.js-callback-modal .js-callback-form');
                var callbackFormDefaultLayer = document.querySelector('.js-callback-modal .js-callback-form-layer');
                var callbackFormSuccessLayer = document.querySelector('.js-callback-modal .js-callback-success-layer');

                if (callbackForm) {
                    callbackForm.addEventListener('submit', event => {
                        console.log('Submitting form')
                        if ($(callbackForm).parsley().isValid()) {
                            event.preventDefault();
                            callbackFormDefaultLayer.classList.remove('active');
                            callbackFormSuccessLayer.classList.add('active')
                        } else {
                            console.error('Form not valid')
                        }
                    })
                }


                
                var pollForm = document.querySelector('.js-poll .js-poll-form');
                if (pollForm) {
                    pollForm.addEventListener('submit', event => {
                        console.log('Submitting form')
                        if ($(pollForm).parsley().isValid()) {
                            event.preventDefault();
                            window.openPollSuccessWindow();
                        } else {
                            console.error('Form not valid')
                        }
                    })
                }
            </script>
        </div>
    </body>
</html>
