<footer class="page-footer">
    <div class="container">
        <div class="page-footer__animation-wrapper">
            <div class="page-footer__grid">
                <div class="page-footer__contacts-card" id="contacts">
                    <h3 class="page-footer__contacts-card-heading">
                        Контакты
                    </h3>
                    <a href="tel:+78432266900" class="page-footer__contacts-card-phone-link">
                        8 843 226-69-00
                    </a>
                    <p class="page-footer__contacts-schedule">
                        Пн-пт, 8:30–18:00 МСК
                    </p>
                </div>
                <div class="page-footer__form-card">
                    <h3 class="page-footer__form-card-heading">
                        Заказать звонок
                    </h3>
                    <form action="/" method="POST" class="page-footer__form-card-form" data-parsley-validate>
                        <div class="page-footer__form-card-form-row">
                            <input type="text" name="name" class="page-footer__form-card-form-input" placeholder="Имя" required />
                        </div>
                        <div class="page-footer__form-card-form-row">
                            <input type="tel" name="phone" class="page-footer__form-card-form-input js-phone-input" required data-parsley-phone placeholder="Номер телефона" />
                        </div>
                        <div class="page-footer__form-card-form-row">
                            <input type="email" name="email" class="page-footer__form-card-form-input" placeholder="Электронная почта" required/>
                        </div>
                        <button type="submit" class="page-footer__form-card-form-submit">
                            Заказать звонок
                        </button>
                    </form>
                </div>
                <div class="page-footer__map-card js-tabs">
                    <div class="page-footer__map-card-nav">
                        <button class="page-footer__map-card-nav-btn js-tabs-nav">
                            <span class="page-footer__map-card-nav-btn-content">
                                ДЦ «Парк Победы»
                            </span>
                        </button>
                        <button class="page-footer__map-card-nav-btn js-tabs-nav">
                            <span class="page-footer__map-card-nav-btn-content">
                                На Авангардной
                            </span>
                        </button>
                    </div>
                    <div class="page-footer__map-card-content">
                        <div class="page-footer__map-card-content-item js-tabs-item">
                            <div class="page-footer__map-card-container">
                                <img src="img/footer-map.jpg" alt="" class="page-footer__map-card-container-map" />
                                <div class="page-footer__map-card-marker" ie-style="--pin-x: 16em; --pin-y: 34em;" style="--pin-x: 16em; --pin-y: 34em;">
                                    <img src="img/pin.svg" alt="" class="page-footer__map-card-marker-pin" width="70" height="87" />
                                    <div class="page-footer__map-card-marker-content">
                                        <p class="page-footer__map-card-marker-content-name">
                                            Пр. Ямашева, 33Б, офис 313
                                        </p>
                                        <a href="#" class="page-footer__map-card-marker-content-link">Смотреть на карте</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-footer__map-card-content-item js-tabs-item">
                            <div class="page-footer__map-card-container">
                                <img src="img/footer-map.jpg" alt="" class="page-footer__map-card-container-map" />
                                <div class="page-footer__map-card-marker" ie-style="--pin-x: 12em; --pin-y: 28em;" style="--pin-x: 12em; --pin-y: 28em;">
                                    <img src="img/pin.svg" alt="" class="page-footer__map-card-marker-pin" width="70" height="87" />
                                    <div class="page-footer__map-card-marker-content">
                                        <p class="page-footer__map-card-marker-content-name">
                                            Пр. Ямашева, 33Б, офис 313
                                        </p>
                                        <a href="#" class="page-footer__map-card-marker-content-link">Смотреть на карте</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-footer__info-card">
                    <div class="page-footer__info-card-large-links">
                        <a href="#" class="page-footer__info-card-large-link">
                            СРО cтроителей
                        </a>
                        <a href="#" class="page-footer__info-card-large-link">
                            СРО проектировщиков
                        </a>
                        <a href="#" class="page-footer__info-card-large-link">
                            СРО изыскателей
                        </a>
                    </div>
                    <div class="page-footer__info-card-small-links">
                        <a href="#" class="page-footer__info-card-small-link">
                            Политика конфиденциальности
                        </a>
                        <a href="#" class="page-footer__info-card-small-link">
                            Политика обработки персональных данных
                        </a>
                        <a href="#" class="page-footer__info-card-small-link">
                            Раскрытие информации
                        </a>
                    </div>
                    <div class="page-footer__info-card-secondary-links">
                        <a href="#" class="page-footer__info-card-secondary-link">
                            Специалисты для HPС
                        </a>
                        <a href="#" class="page-footer__info-card-secondary-link">
                            Контакты
                        </a>
                    </div>
                    <div class="page-footer__info-card-about-company">
                        <p class="page-footer__info-card-about-company-name">
                            © 2006-2020 Правовой центр «Эксперт»
                        </p>
                        <a href="#" class="page-footer__info-card-made-by"> Сайт разработан <span class="light">Mark Weber</span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
