<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo-link">
                <img src="img/logo.svg" alt="" class="page-header__logo page-header__logo--white" width="172" />
                <img src="img/logo-red.svg" alt="" class="page-header__logo page-header__logo--red" width="172" />
            </a>
           
            
            <div class="page-header__burger-menu">
                <div class="page-header__burger-menu-inner-wrapper">
                    <nav class="page-header__nav">
                        <ul class="page-header__nav-list">
                            <li class="page-header__nav-list-item {% if activePage == "SRO" %} active {% endif %}">
                                <a href="sro.html" class="page-header__nav-link">
                                    СРО cтроителей
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    СРО проектировщиков
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    СРО изыскателей
                                </a>
                            </li>
                            <li class="page-header__nav-list-item {% if activePage == "NRS" %} active {% endif %}">
                                <a href="#" class="page-header__nav-link">
                                    Специалисты для HPС
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="page-header__small-links">
                        <a href="#" class="page-header__small-link">
                            Специалисты для HPС
                        </a>
                        <a href="#" class="page-header__small-link">
                            Контакты
                        </a>
                    </div>
                    <div class="page-header__contacts">
                        <div class="page-header__contacts-content">
                            <a href="tel:+78432266900" class="page-header__contacts-phone">8 843 226-69-00</a>
                            <div class="page-header__work-time">
                                Пн-пт, 8:30–18:00 МСК
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="page-header__burger js-burger">
                <span class="page-header__burger-content">
                    <span></span>
                    <span></span>
                </span>
            </button>
        </div>
    </div>
    <a href="#" class="page-header__write-us js-sticky-element js-open-callback-modal" data-margin-top="40" data-sticky-wrap="true">
        <svg width="22" height="22" aria-hidden="true" class="icon-bubble">
            <use xlink:href="#bubble" />
        </svg>
    </a>
</header>
