<div class="callback callback--poll poll-mode js-poll">
    <form action="/" method="POST" class="callback__inner js-poll-form" data-parsley-validate>
        <div class="container">
            <div class="callback__top-row">
                <div class="callback__logo">
                    <img src="img/logo.svg" alt="" class="callback__logo-image" />
                    <img src="img/logo-red.svg" alt="" class="callback__logo-image callback__logo-image--poll" />
                </div>

                <button type="button" class="callback__close-btn js-close-callback-modal">
                    <span class="callback__close-btn-content">
                        <svg width="24" height="24" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross" />
                        </svg>
                    </span>
                </button>
            </div>
            <div class="callback__layers">
                <div class="callback__layer active js-poll-step">
                    <div class="callback__content callback__content--poll">
                        <div class="callback__poll-nav-btns">
                            <button type="button" class="callback__poll-nav-btn callback__poll-nav-btn--next js-poll-next">
                                <span class="callback__poll-nav-btn-content">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-back">
                                        <use xlink:href="#back" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <h3 class="callback__poll-heading">
                            К какому типу относятся ваши объекты?
                        </h3>
                        <div class="callback__poll-questions">
                            <ul class="callback__poll-questions-list">
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question1" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Особо опасные, технически сложные и уникальные объекты
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question1" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Особо опасные, технически сложные и уникальные объекты
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question1" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Строителей
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <!-- <li class="callback__poll-questions-list-item">
                                <label class="callback__poll-questions-checkbox">
                                    <input type="radio" name="question1" class="callback__poll-questions-checkbox-input">
                                    <span class="callback__poll-questions-checkbox-content">
                                        <span class="callback__poll-questions-checkbox-checkmark-container">
                                            <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark" />
                                            </svg>
                                        </span>
                                        <span class="callback__poll-questions-checkbox-text">
                                            Строителей
                                        </span>
                                    </span>
                                </label>
                            </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="callback__layer js-poll-step">
                    <div class="callback__content callback__content--poll">
                        <div class="callback__poll-nav-btns">
                            <button type="button" class="callback__poll-nav-btn js-poll-back">
                                <span class="callback__poll-nav-btn-content">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-back">
                                        <use xlink:href="#back" />
                                    </svg>
                                </span>
                            </button>
                            <button type="button" class="callback__poll-nav-btn callback__poll-nav-btn--next js-poll-next">
                                <span class="callback__poll-nav-btn-content">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-back">
                                        <use xlink:href="#back" />
                                    </svg>
                                </span>
                            </button>
                        </div>

                        <h3 class="callback__poll-heading">
                            Второй вопрос
                        </h3>
                        <div class="callback__poll-questions">
                            <ul class="callback__poll-questions-list">
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question2" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Особо опасные, технически сложные и уникальные объекты
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question2" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Особо опасные, технически сложные и уникальные объекты
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question2" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Строителей
                                            </span>
                                        </span>
                                    </label>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="callback__layer js-poll-step">
                    <div class="callback__content callback__content--poll">
                        <div class="callback__poll-nav-btns">
                            <button type="button" class="callback__poll-nav-btn js-poll-back">
                                <span class="callback__poll-nav-btn-content">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-back">
                                        <use xlink:href="#back" />
                                    </svg>
                                </span>
                            </button>
                        </div>

                        <h3 class="callback__poll-heading">
                            Третий вопрос
                        </h3>
                        <div class="callback__poll-questions">
                            <ul class="callback__poll-questions-list">
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question3" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Особо опасные, технически сложные и уникальные объекты
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question3" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Особо опасные, технически сложные и уникальные объекты
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <li class="callback__poll-questions-list-item">
                                    <label class="callback__poll-questions-checkbox callback__poll-questions-checkbox--simple">
                                        <input type="radio" name="question3" class="callback__poll-questions-checkbox-input" />
                                        <span class="callback__poll-questions-checkbox-content">
                                            <span class="callback__poll-questions-checkbox-checkmark-container">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                    <use xlink:href="#checkmark" />
                                                </svg>
                                            </span>
                                            <span class="callback__poll-questions-checkbox-text">
                                                Строителей
                                            </span>
                                        </span>
                                    </label>
                                </li>
                                <!-- <li class="callback__poll-questions-list-item">
                                <label class="callback__poll-questions-checkbox">
                                    <input type="radio" name="question1" class="callback__poll-questions-checkbox-input">
                                    <span class="callback__poll-questions-checkbox-content">
                                        <span class="callback__poll-questions-checkbox-checkmark-container">
                                            <svg width="32" height="32" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark" />
                                            </svg>
                                        </span>
                                        <span class="callback__poll-questions-checkbox-text">
                                            Строителей
                                        </span>
                                    </span>
                                </label>
                            </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="callback__layer js-callback-form-layer ">
                    <div class="callback__content">
                        <h3 class="callback__heading">
                            Заказать звонок
                        </h3>
                        <div class="callback__text">
                            12 лет, опытная команда и 5000 довольных клиентов по всей России
                        </div>
                        <div class="callback__form js-callback-form">
                            <div class="callback__form-content">
                                <div class="callback__form-row">
                                    <div class="callback__form-col">
                                        <div class="callback__form-input-row">
                                            <input type="text" name="name" class="callback__form-input" required placeholder="Имя" />
                                        </div>
                                        <div class="callback__form-input-row">
                                            <input type="tel" name="phone" class="callback__form-input js-phone-input" required data-parsley-phone placeholder="Номер телефона" />
                                        </div>
                                        <div class="callback__form-input-row">
                                            <input type="email" name="email" class="callback__form-input" required placeholder="Электронная почта" />
                                        </div>
                                    </div>
                                    <div class="callback__form-col">
                                        <label for="comment" class="callback__form-label">
                                            Сообщение
                                        </label>
                                        <textarea name="comment" id="comment" cols="30" rows="10" class="callback__form-input"></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="callback__form-submit">
                                <span class="callback__form-submit-content">
                                    Отправить
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="callback__layer js-callback-success-layer">
                    <div class="callback__ok-image">
                        <img src="img/ok.png" alt="" />
                    </div>

                    <div class="callback__content">
                        <h3 class="callback__heading">
                            Спасибо! Мы с вами свяжемся
                        </h3>
                        <div class="callback__text">
                            12 лет, опытная команда и 5000 довольных клиентов по всей России
                        </div>
                        <div class="callback__btns">
                            <a href="#" class="callback__btn-reset-form js-callback-reset">
                                Создать новую заявку
                            </a>
                            <a href="#" class="callback__btn-exit js-callback-exit">
                                Вернуться на главную
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="callback__poll-progressbar">
            <div class="callback__poll-progressbar-spinner">
                <div class="callback__poll-progressbar-spinner"></div>
            </div>
        </div>
    </form>
</div>

<div class="callback js-callback-modal">
    <div class="callback__inner">
        <div class="container">
            <div class="callback__top-row">
                <div class="callback__logo">
                    <img src="img/logo.svg" alt="" class="callback__logo-image" />
                </div>

                <button class="callback__close-btn js-close-callback-modal">
                    <span class="callback__close-btn-content">
                        <svg width="24" height="24" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross" />
                        </svg>
                    </span>
                </button>
            </div>
            <div class="callback__layers">
                <div class="callback__layer js-callback-form-layer active">
                    <div class="callback__content">
                        <h3 class="callback__heading">
                            Заказать звонок
                        </h3>
                        <div class="callback__text">
                            12 лет, опытная команда и 5000 довольных клиентов по всей России
                        </div>
                        <form action="/" method="POST" class="callback__form js-callback-form" data-parsley-validate>
                            <div class="callback__form-content">
                                <div class="callback__form-row">
                                    <div class="callback__form-col">
                                        <div class="callback__form-input-row">
                                            <input type="text" name="name" class="callback__form-input" required placeholder="Имя" />
                                        </div>
                                        <div class="callback__form-input-row">
                                            <input type="tel" name="phone" class="callback__form-input js-phone-input" required data-parsley-phone placeholder="Номер телефона" />
                                        </div>
                                        <div class="callback__form-input-row">
                                            <input type="email" name="email" class="callback__form-input" required placeholder="Электронная почта" />
                                        </div>
                                    </div>
                                    <div class="callback__form-col">
                                        <label for="comment" class="callback__form-label">
                                            Сообщение
                                        </label>
                                        <textarea name="comment2" id="comment2" cols="30" rows="10" class="callback__form-input"></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="callback__form-submit">
                                <span class="callback__form-submit-content">
                                    Отправить
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="callback__layer js-callback-success-layer">
                    <div class="callback__ok-image">
                        <img src="img/ok.png" alt="" />
                    </div>

                    <div class="callback__content">
                        <h3 class="callback__heading">
                            Спасибо! Мы с вами свяжемся
                        </h3>
                        <div class="callback__text">
                            12 лет, опытная команда и 5000 довольных клиентов по всей России
                        </div>
                        <div class="callback__btns">
                            <a href="#" class="callback__btn-reset-form js-callback-reset">
                                Создать новую заявку
                            </a>
                            <a href="#" class="callback__btn-exit js-callback-exit">
                                Вернуться на главную
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
