.how-to-apply__content {
    background-color: #f2f4fa;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.how-to-apply__row {
    display: flex;
    padding-bottom: 4rem;
    border-bottom: 1px solid #B9C1CA;
}

.how-to-apply__left-col {
    width: 36rem;
    margin-right: 4.5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.how-to-apply__right-col {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.how-to-apply__heading {
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 2rem;
}

.how-to-apply__remark-text {
    margin-top: auto;
    font-size: 1.6rem;
    padding-right: 3rem;
    line-height: 1.9rem;
    p:not([class]) {
        margin-bottom: 1.7rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.how-to-apply__steps-list {
    margin-top: 2rem;
}

.how-to-apply__steps-list-item {
    margin-bottom: 4.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.how-to-apply__steps-card {
    border-top: 1px solid #b9c1ca;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    padding-right: 3rem;
    
}

.how-to-apply__steps-card-number {
    width: 20rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    flex-shrink: 0;
}

.how-to-apply__right-col {
    width: 50%;
    flex-grow: 1;
}

.how-to-apply__steps-card-text {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
}
