.our-offices {
}

.our-offices__content {
    background-color: #f2f4fa;
    padding-top: 4rem;
    padding-bottom: 16rem;

    @include breakpoint(mobile) {
        padding: 0;
        padding-bottom: 3rem;
        border: none;
    }
}

.our-offices__row {
    display: flex;
    border-top: 1px solid #b9c1ca;
    border-bottom: 1px solid #b9c1ca;
    @include breakpoint(mobile) {
        border: none;
        flex-direction: column;
    }
}


.our-offices__left-col {
    width: 33.33%;
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.our-offices__right-col {
    width: 66.66%;


    @include breakpoint(mobile) {
        width: 100%;
    }
}

.our-offices__inner-row {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}
.our-offices__col {
    width: 50%;
    display: flex;
    flex-direction: column;

    // &:nth-child(2n + 1) {
    //     .our-offices__card {
    //         padding-left: 0;
    //     }
    // }

    // &:nth-child(2n) {
    //     .our-offices__card {
    //         border-right: none;
    //     }
    // }

    @include breakpoint(mobile) {
        width: 100%;
        &:last-child {
            border-bottom: 1px solid #b9c1ca;
        }
    }
}

.our-offices__card {
    padding: 4rem;
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid #b9c1ca;
    min-height: 46.4rem;
    position: relative;
    z-index: 1;
    transition: color 0.2s;
    @include breakpointMF(small-tablet) {
        .no-touch &:hover {
            .our-offices__card-address-name {
                color: rgba(white, 0.2);
            }

            .our-offices__card-address-heading {
                color: rgba(white, 0.3);
            }

            .our-offices__card-address-link {
                &::after {
                    background-color: var(--primary-color);
                }
            }

            .our-offices__card-overlay {
                transition: all 0.3s;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }

            .our-offices__card-overlay-image-pin {
                transform: translate(var(--pin-x, 17rem), var(--pin-y, 13rem)) translateY(0);
                transition: transform 0.3s ease-out;
            }
        }
    }

    @include breakpoint(mobile) {
        padding: 3rem 0;
        border: none;
        border-top: 1px solid #b9c1ca;
        min-height: auto;
    }
}

.our-offices__info-card-heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 4.5rem;
    transition: color 0.2s;
    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 3.1rem;
        margin-bottom: 5.5rem;

        br {
            display: none;
        }
    }
}

.our-offices__info-card-phone-link {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: var(--text-color);
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }
}

.our-offices__info-time {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: 5.5rem;
    }
}

.our-offices__info-card-callback-link {
    background-color: var(--primary-color);
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    display: inline-flex;
    margin-top: auto;
    padding: 2.5rem 2.2rem;
    align-items: center;
    align-self: flex-start;
    transition: background-color 0.2s;
    &::after {
        content: '';
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        flex-shrink: 0;
        margin-left: 2rem;
        background-color: #fff;
        border-radius: 50%;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--text-color);
    }

    @include breakpoint(mobile) {
        padding: 2rem;
        font-size: 1rem;
        line-height: 1.2rem;
        &::after {
            width: 0.8rem;
            height: 0.8rem;
            margin-left: 5rem;
        }
    }
}

.our-offices__card-address-heading {
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 2.7rem;
    margin-bottom: 4.6rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 2.1rem;
        margin-bottom: 3rem;
    }
}

.our-offices__card-address-name {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 1.3rem;
    margin-top: auto;
    transition: color 0.2s;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 1rem;
    }
}

.our-offices__card-address-link {
    display: inline-flex;
    align-items: baseline;
    font-size: 1.2rem;
    line-height: 1.4rem;

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &::after {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        margin-left: 1rem;
        transition: background-color 0.3s;
    }

    @include breakpoint(mobile) {
    }
}

.our-offices__card-image-container {
    position: relative;
    margin-bottom: 4rem;
    z-index: -2;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 70%;
    }

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.our-offices__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.our-offices__card-overlay {
    position: absolute;
    left: -1px;
    top: 0;
    right: -1px;
    height: 100%;
    z-index: -1;
    // opacity: 0;
    // visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s, clip-path 0.3s;

    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

    @include breakpoint(mobile) {
        display: none;
    }
}

.our-offices__card-overlay-image-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    min-height: 46.4rem;
    min-width: 41rem;
    transform: translate(-50%, -50%);
}

.our-offices__card-overlay-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.our-offices__card-overlay-image-pin {
    width: 5rem;
    height: 6.2rem;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;

    // transform: translate(17rem, 13rem);
    transform: translate(var(--pin-x, 17rem), var(--pin-y, 13rem)) translateY(4rem);

    background-image: url('../img/pin.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.4s;
}
