.reviews__content {
    padding-top: 7.7rem;
    padding-bottom: 11.5rem;
    color: white;

    .inner-container {
        @include breakpoint(mobile) {
            padding: 0;
            max-width: none;
            width: 100%;
        }
    }

    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 9rem;
        position: relative;
    }
}

.reviews__heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 6.2rem;
    @include breakpoint(mobile) {
        font-weight: 900;
        font-size: 2.6rem;
        line-height: 3.1rem;
        margin-bottom: 4rem;
        padding-right: 7rem;
    }
}

.reviews__slider-wrapper {
    position: relative;
    @include breakpoint(mobile) {
        position: static;
    }
}

.reviews__slider {
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        padding-right: var(--content-padding);
    }
}

.reviews__slider-main {
    flex-grow: 1;
    width: 50%;
    position: relative;
    z-index: 1;
    .swiper-slide {
        display: flex;
        flex-direction: column;
    }
    @include breakpoint(mobile) {
        flex-grow: 0;
        width: 100%;
    }
}

.reviews__slider-main-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    z-index: 2;
    pointer-events: none;
    bottom: -2.2rem;
    svg {
        width: 100%;
        height: 100%;
    }

    @include breakpoint(mobile) {
        bottom: -2.2rem;
    }
}

.reviews__slider-main-bg-frame {
    width: 100%;
    height: 100%;

    &--desktop {
        @include breakpoint(mobile) {
            display: none;
        }
    }

    &--mobile {
        display: none;
        @include breakpoint(mobile) {
            display: block;
        }
    }
}

.reviews__slider-secondary {
    width: 34.6rem;
    flex-shrink: 0;

    .swiper-container {
        // overflow: visible;
        margin-right: -50rem;
        padding-right: 50rem;
        @include breakpoint(mobile) {
            margin: 0 calc(-1 * var(--content-padding));
            // padding: 0 var(--content-padding);
            padding: 0;
            overflow: visible;
            
        }
    }

    @include breakpoint(mobile) {
        width: auto;
        flex-shrink: 1;
        margin-top: 3.8rem;
    }
}

.reviews__slider-secondary-card {
    padding-left: 6.2rem;
    min-height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;

    @include breakpoint(mobile) {
        min-height: auto;
        padding: 0 var(--content-padding);
    }
}

.reviews__slider-secondary-card-name {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.1rem;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 1.1rem;
    }
}

.reviews__slider-secondary-card-role {
    font-style: italic;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}

.reviews__slider-main-card {
    padding: 5rem 5rem;
    min-height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    @include breakpoint(mobile) {
        padding: 2.5rem 3rem;
        min-height: auto;
        flex-grow: 1;
        
    }
}

.reviews__slider-main-card-text {
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.6rem;

    &::before {
        content: '“ ';
        color: var(--primary-color);
        font-weight: 900;
    }

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2rem;
    }
}

.reviews__slider-navigation {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
        transform: none;
        top: 4.2rem;
        right: var(--content-padding);
        left: auto;
        flex-direction: row;
    }
}

.reviews__slider-btn {
    position: relative;
    background: white;
    border-radius: 50%;
    width: 3.4rem;
    height: 3.4rem;
    transition: background-color 0.2s, opacity 0.2s;
    svg {
        width: 1.6rem;
        height: 1rem;
        fill: var(--text-color);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: fill 0.2s;
    }

    &--next {
        width: 5.2rem;
        height: 5.2rem;
        margin-bottom: 1.8rem;
        svg {
            width: 2rem;
            height: 1.4rem;
        }

        @include breakpoint(mobile) {
            order: 3;
            margin: 0;
            margin-left: 1.3rem;
        }
    }

    &.swiper-button-disabled {
        opacity: 0.3;
        cursor: default;
    }

    &:not(.swiper-button-disabled) {
        &:hover {
            background-color: var(--primary-color);

            svg {
                fill: white;
            }
        }
    }
}


// .reviews__slider-main .swiper-wrapper {
//     position: relative;
// }