.team {
    // margin-top: -12rem;
    position: relative;
    z-index: 80;
}

.team__content {
    background-color: #f2f4fa;
    color: var(--text-color);
    padding-top: 14.6rem;

    @include breakpoint(mobile) {
        padding-top: 4rem;
        padding-bottom: 0;
    }
}

.team__top-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 11rem;
    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        align-items: initial;
        margin: 0;
    }
}

.team__heading {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.8rem;
    @include breakpoint(mobile) {
        font-size: 2.6rem;
        line-height: 3.1rem;
        margin-bottom: 2rem;
    }
}

.team__text {
    font-size: 2rem;
    line-height: 2.4rem;
    width: 50%;
    flex-grow: 1;
    margin-left: 20rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: 2.6rem;
    }
}

.team__card {
    position: relative;
    z-index: 1;
   

    .no-touch &:hover {
        .team__card-info-circle-dot {
            background-color: var(--primary-color);
        }

        .team__card-info-circle::before {
            transform: translateZ(0) scale(0);
        }

        .team__card-info::before {
            transform: translateZ(0) translateY(0%);
        }

        .team__card-info-text-wrapper {
            transform: translateZ(0) translateY(0%);
            transition: transform 0.4s ease 0.1s, opacity 0.2s ease 0.1s;
            opacity: 1;
        }
    }
}


.team__card-image-container {
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 120%;
    }
}

.team__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitContainBottom();
}

.team__card-info {
    min-height: 15rem;
   
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 3rem;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        transition: transform 0.4s;
        transform: translateZ(0) translateY(100%);

        @include breakpoint(mobile) {
            transform: none;
        }
    }

    @include breakpoint(mobile) {
        padding: 1rem 2.5rem;
        min-height: 12rem;
        position: relative;
    }
}

.team__card-info-text-wrapper {
    width: 50%;
    flex-grow: 1;
    position: relative;
    transition: transform 0.4s, opacity 0.2s;
    transform: translateZ(0) translateY(100%);
    opacity: 0;

    @include breakpoint(mobile) {
        transform: translateZ(0) translateY(0%);
   
        opacity: 1;
    }
}

.team__card-info-text-name {
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 1.5rem;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 0.7rem;
    }
}

.team__card-info-text-content {
    font-size: 1.4rem;
    line-height: 1.6rem;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

.team__card-info-circle {
    width: 6rem;
    height: 6rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 3.4rem;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--primary-color);
        transition: transform 0.3s;
        z-index: -1;
    }

    &::before {
        transform-origin: calc(var(--dot-x, 3.6rem) + 0.5rem) calc(var(--dot-y, 3.1rem) + 0.5rem);

        @include breakpoint(mobile) {
            transform-origin: calc(var(--dot-x, 3.6rem) * 0.83 + 0.5rem) calc(var(--dot-y, 3.1rem) * 0.83 + 0.5rem);
            transform: translateZ(0) scale(0);
        }
    }

    &::after {
        z-index: -2;
        background-color: white;
        // transform: scale(0);
    }

    @include breakpoint(mobile) {
        width: 5rem;
        height: 5rem;
        margin-right: 2.7rem;
    }
}

.team__card-info-circle-dot {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: var(--dot-x, 3.6rem);
    top: var(--dot-y, 3.1rem);

    transition: background-color 0.3s;

    @include breakpoint(mobile) {
        background-color: var(--primary-color);
        left: calc(var(--dot-x, 3.6rem) * 0.83);
        top: calc(var(--dot-y, 3.1rem) * 0.83);
    }
}

.team-slider__wrapper {
    position: relative;
}

.team__slider {
    position: relative;
    .swiper-slide {
        width: 33.33%;
        display: flex;
        flex-direction: column;

        @include breakpoint(mobile) {
            width: 100%;
        }
    }

    .swiper-container {
        @include breakpoint(mobile) {
            margin-left: -3rem;
        }
    }
}

.team__slider-navigation {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
        flex-direction: row;
        position: relative;
        left: auto;
        top: auto;
        justify-content: flex-end;
        margin-bottom: 4.2rem;
        padding: 0 var(--content-padding);
    }
}

.team__slider-btn {
    position: relative;
    background: #d6e1ec;
    border-radius: 50%;
    width: 3.4rem;
    height: 3.4rem;
    transition: background-color 0.2s, opacity 0.2s;

    @include breakpoint(mobile) {
        background-color: #fff;
    }
    svg {
        width: 1.6rem;
        height: 1rem;
        fill: var(--text-color);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: fill 0.2s;
    }

    &--next {
        width: 5.2rem;
        height: 5.2rem;
        margin-bottom: 1.8rem;
        svg {
            width: 2rem;
            height: 1.4rem;
        }

        @include breakpoint(mobile) {
            order: 3;
            margin: 0;
            margin-left: 1.3rem;
        }
    }

    &.swiper-button-disabled {
        opacity: 0.3;
        cursor: default;
    }

    &:not(.swiper-button-disabled) {
        &:hover {
            background-color: var(--primary-color);

            svg {
                fill: white;
            }
        }
    }
}
