.types {
   
    
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-bottom: 5.5rem;


    
}

.types__content {
    margin-top: 11rem;
}

.types__list {
    display: flex;


    animation-name: slide-up;
    animation-play-state: paused;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: .7s;
    .animatable & {
        animation-play-state: running;
    }
  
}

.types__list-item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    &:last-child {
        .types__card {
            border-right: none;
        }
    }
}

.types__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    padding: 4rem 5rem;
    position: relative;
    border-right: 1px solid #b9c1ca;
    color: var(--text-color);
    min-height: 42rem;
    z-index: 1;
    overflow: hidden;
    cursor: default;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 35.2rem;
        height: 35.2rem;
        background-color: var(--primary-color);
        transform: translateZ(0) translate(-20%, -62%) scale(0);
        transition: transform .4s ease-out;
        z-index: -1;
        border-radius: 50%;
    }
    &:link,
    &:visited {
        color: inherit;
    }


    &:hover {
        &::before {
            transform: translateZ(0) translate(-20%, -62%) scale(1);
        }

        .types__card-details-link {
            color: white;
        }


        .types__card-order-link {
            color: white;
        }
    }
}

.types__card-image {
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 25rem;
    max-height: 80%;
    @include objectFitContainBottom();
    z-index: -1;
}

.types__card-title {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.8rem;
    max-width: 30rem;
    margin-bottom: 2.5rem;
}

.types__card-price {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2.1rem;
    margin-bottom: 0.5rem;
}

.types__card-time {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 5rem;
}

.types__card-details-link {
    margin-top: auto;
    display: inline-block;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #b9c1ca;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color .3s;
    &:link,
    &:visited {
        color: #b9c1ca;
    }
}

.types__card-order-link {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: color .3s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }
}
