.types {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-bottom: 5.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 2.2rem;
    }
}

.types__content {
    margin-top: 11rem;

    .swiper-container {
        overflow: visible;
        @include breakpointMF(small-tablet) {
            display: block;
        }
    }

    .swiper-wrapper {
        @include breakpointMF(small-tablet) {
            display: flex;
            box-sizing: border-box;
        }
    }

    .swiper-slide {
        width: 33.33%;
        @include breakpoint(mobile) {
            width: 33.6rem;
        }
    }

    @include breakpoint(mobile) {
        margin-top: 6.8rem;
    }
}

.types__intro-text-wrapper {
    margin-top: 30rem;
    @include breakpoint(large-desktop) {
        margin-top: 27rem;
    }

    @include breakpoint(mobile) {
        margin-top: 12rem;
    }
}

.types__list {
    @include breakpointMF(small-tablet) {
        display: flex;

        animation-name: slide-up;
        animation-play-state: paused;
        animation-duration: 0.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
        animation-delay: 0.7s;
        .animatable & {
            animation-play-state: running;
        }
    }
}

.types__list-item {
    @include breakpointMF(small-tablet) {
        display: flex;
        flex-direction: column;
        &:last-child {
            .types__card {
                border-right: none;
            }
        }
    }
}

.types__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    padding: 4rem 5rem;
    position: relative;
    border-right: 1px solid #b9c1ca;
    color: var(--text-color);
    min-height: 42rem;
    z-index: 1;
    overflow: hidden;
    cursor: default;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 35.2rem;
        height: 35.2rem;
        background-color: var(--primary-color);
        transform: translateZ(0) translate(-20%, -62%) scale(0);
        transition: transform 0.4s ease-out;
        z-index: -1;
        border-radius: 50%;
    }
    &:link,
    &:visited {
        color: inherit;
    }

    .no-touch &:hover,
    .swiper-slide-active & {
        &::before {
            transform: translateZ(0) translate(-20%, -62%) scale(1);
        }

        .types__card-details-link {
            color: white;
        }

        .types__card-order-link {
            color: white;
        }
    }

    @include breakpoint(mobile) {
        min-height: 31rem;
        padding: 2rem;
        border-right: none;
        &::before {
            width: 25rem;
            height: 25rem;
            transform: translateZ(0) translate(-50%, -52%) scale(0);
        }
    }
}

.types__card-image {
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 25rem;
    max-height: 80%;
    @include objectFitContainBottom();
    z-index: -1;

    @include breakpoint(mobile) {
        width: 23rem;
        right: -5rem;
    }
}

.types__card-title {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.8rem;
    max-width: 30rem;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 1.3rem;
        max-width: 20rem;
    }
}

.types__card-price {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2.1rem;
    margin-bottom: 0.5rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 0.3rem;
    }
}

.types__card-time {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.types__card-details-link {
    margin-top: auto;
    display: inline-block;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #b9c1ca;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color 0.3s;
    &:link,
    &:visited {
        color: #b9c1ca;
    }

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

.types__card-order-link {
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: color 0.3s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}
