{% set title = "Эксперт - Главная" %}
{% set activePage = "Home"  %}
{% extends "layout.html" %}
{% block content %}
    {% include "blocks/types.html" %}
    {% include "blocks/advantages.html" %}
    {% include "blocks/how-to-apply.html" %}
    {% include "blocks/our-offices.html" %}
    {% include "blocks/offers.html" %}
    {% include "blocks/other-services.html" %}
    {% include "blocks/about-company.html" %}
    {% include "blocks/gallery.html" %}
    {% include "blocks/team.html" %}
    {% include "blocks/reviews.html" %}
    {% include "blocks/faq.html" %}
{% endblock %}