.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index: 200;
}

.page-header__row {
    padding-top: 5.2rem;
    display: flex;
    align-items: flex-start;

    @include breakpointMF(small-tablet) {
        animation-name: slide-down;
        animation-play-state: paused;
        animation-duration: 0.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
        animation-delay: 1.3s;
        .animatable & {
            animation-play-state: running;
        }
    }

    @include breakpoint(mobile) {
        padding-top: 2rem;
        align-items: center;
    }
}

.page-header__logo-link {
    margin-right: 6.2rem;
    position: relative;
    &:link,
    &:visited {
        color: white;
    }

    @include breakpoint(mobile) {
        margin-right: auto;
        z-index: 320;
    }
}

.page-header__logo {
    display: block;
    width: 17.2rem;
    height: auto;
    transition: opacity 0.3s;

    &--white {
        opacity: 1;
        .burger-menu-open & {
            opacity: 0;
        }
    }

    &--red {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        .burger-menu-open & {
            opacity: 1;
        }
    }

    @include breakpoint(mobile) {
        width: 10.2rem;
    }
}

.page-header__nav {
    margin-right: auto;

    @include breakpoint(mobile) {
        margin: 0;
        padding-top: 5rem;
        border-top: 1px solid #b9c1ca;
    }
}

.page-header__nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        flex-wrap: nowrap;
    }
}

.page-header__small-links {
    padding: 4rem 0;
    display: none;
    border-bottom: 1px solid #b9c1ca;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        display: block;
    }
}

.page-header__small-link {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    margin-bottom: 1.5rem;
    transition: color 0.2s;
    &:last-child {
        margin-bottom: 0;
    }
    &:link,
    &:visited {
        color: inherit;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-header__nav-list-item {
    margin-right: 5rem;
    &:last-child {
        margin-right: 0;
    }

    &.active {
        .page-header__nav-link {
            pointer-events: none;
            cursor: default;
            opacity: 1;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                height: 0.3rem;
                background-color: #fff;
                margin-top: 2.5rem;
                z-index: 30;
                pointer-events: none;

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            .no-touch &:hover,
            .touch &:active {
                color: white;
                opacity: 1;
            }

            @include breakpoint(mobile) {
                color: var(--primary-color);
                .no-touch &:hover,
                .touch &:active {
                    color: var(--primary-color);
                }
            }
        }
        // & ~ * {
        //     .page-header__nav-link {
        //         opacity: 0.7;
        //     }
        // }
    }

    @include breakpoint(large-desktop) {
        margin-right: 3rem;
    }

    @include breakpoint(laptop) {
        margin-right: 2rem;
    }

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-header__nav-link {
    font-family: var(--helios);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color 0.2s, opacity 0.2s;
    position: relative;
    display: block;
    opacity: 0.7;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
        opacity: 1;
    }

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2.5rem;
        font-family: inherit;
        text-transform: none;
        letter-spacing: 0;
        opacity: 1;
        &:link,
        &:visited {
            color: var(--text-color);
        }

        .no-touch &:hover,
        .touch &:active {
            color: var(--primary-color);
            opacity: 1;
        }
    }
}

.page-header__contacts {
    display: flex;
    align-items: flex-start;
    margin-right: 4.4rem;

    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column;
        align-items: initial;
        margin-top: auto;
    }
}

.page-header__contacts-content {
    margin-right: 10.2rem;

    @include breakpoint(small-tablet) {
        margin-right: 0;
    }
}

.page-header__contacts-phone {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: inline-block;

    transition: color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        &:link,
        &:visited {
            color: var(--text-color);
        }
    }
}

.page-header__work-time {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: var(--helios);

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}

.page-header__write-us {
    width: 6.2rem;
    height: 6.2rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    z-index: 700;
    top: -1rem;
    transition: background-color 0.2s;
    position: fixed;
    right: 5rem;
    top: 4rem;
    z-index: 100;

    .animatable & {
        animation-play-state: running;
    }
    svg {
        fill: white;
        width: 2.2rem;
        height: 2.2rem;
        flex-shrink: 0;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: white;

        svg {
            fill: var(--primary-color);
        }
    }

    @include breakpointMF(small-tablet) {
        animation-name: slide-down;
        animation-play-state: paused;
        animation-duration: 0.6s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
        animation-delay: 1.3s;
    }

    @include breakpoint(small-tablet) {
        right: 3rem;
        bottom: 3rem;
        width: 9rem;
        height: 9rem;
        top: auto;
        left: auto;
        svg {
            width: 3.8rem;
            height: 3.8rem;
        }
    }

    @include breakpoint(mobile) {
        right: 2.7rem;
        bottom: 2.7rem;
        width: 6.2rem;
        height: 6.2rem;

        svg {
            width: 2.3rem;
            height: 2.1rem;
        }
    }
}

.page-header__burger-menu {
    width: 30%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        position: fixed;
        flex-grow: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: var(--text-color);
        z-index: 300;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
        padding-top: 9.4rem;

        .burger-menu-open & {
            opacity: 1;
            visibility: visible;
            transition: all 0.4s;
        }
    }
}

.page-header__burger-menu-inner-wrapper {
    display: flex;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding-left: var(--content-padding);
        padding-bottom: 3.6rem;
    }
}

.page-header__burger {
    display: none;
    margin-left: auto;
    margin-right: var(--content-padding);
    position: relative;
    z-index: 320;
    @include breakpoint(mobile) {
        display: block;
    }

    .no-touch &:hover {
        .page-header__burger-content > span {
            background-color: var(--primary-color);
        }
    }
}

.page-header__burger-content {
    display: flex;
    flex-direction: column;

    & > span {
        width: 2rem;
        height: 0.2rem;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        background-color: #fff;
        transition: transform 0.3s, background-color 0.3s;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .burger-menu-open & {
        & > span {
            background-color: var(--text-color);
            &:nth-child(1) {
                transform: translateZ(0) translateY(0.4rem) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translateZ(0) translateY(-0.4rem) rotate(-45deg);
            }
        }
    }
}
