.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index: 200;
  

  
}

.page-header__row {
    padding-top: 5.2rem;
    display: flex;
    align-items: flex-start;
    animation-name: slide-down;
    animation-play-state: paused;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 1.3s;
    .animatable & {
        animation-play-state: running;
    }
}

.page-header__logo-link {
    margin-right: 6.2rem;
    &:link,
    &:visited {
        color: white;
    }
}

.page-header__logo {
    display: block;
    width: 17.2rem;
    height: auto;
}

.page-header__nav {
    margin-right: auto;
}

.page-header__nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.page-header__nav-list-item {
    margin-right: 5rem;

    @include breakpoint(large-desktop) {
        margin-right: 3rem;
    }

    @include breakpoint(laptop) {
        margin-right: 2rem;
    }
    &:last-child {
        margin-right: 0;
    }
}

.page-header__nav-link {
    font-family: var(--helios);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color .2s;
    &:link, 
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-header__contacts {
    display: flex;
    align-items: flex-start;
    margin-right: 4.4rem;
}

.page-header__contacts-content {
    margin-right: 10.2rem;

    @include breakpoint(small-tablet) {
        margin-right: 0;
    }
}

.page-header__contacts-phone {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: inline-block;

    transition: color .2s;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-header__work-time {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: var(--helios);
}


.page-header__write-us {
    width: 6.2rem;
    height: 6.2rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    z-index: 700;
    top: -1rem;
    transition: background-color .2s;


    animation-name: slide-down;
    animation-play-state: paused;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 1.3s;
    


    position: fixed;
    right: 5rem;
    top: 4rem;
    z-index: 3000;

    .animatable & {
        animation-play-state: running;
    }
    svg {
        fill: white;
        width: 2.2rem;
        height: 2.2rem;
        flex-shrink: 0;
        transition: fill .2s;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: white;

        svg {
            fill: var(--primary-color);
        }
    }


    @include breakpoint(small-tablet) {
        right: 3rem;
        bottom: 3rem;
        width: 9rem;
        height: 9rem;
        top: auto;
        left: auto;
        svg {
            width: 3.8rem;
            height: 3.8rem;
        }
    }
}